/* product nv section */
.product-nav-result-count {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.product-filter {
    width: 250px;
}
.product-filter > label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(82, 82, 82);
}
#product-filter-btn:hover {
    background-color: rgb(201, 201, 201);
}
#product-filter-btn > svg {
    color: rgb(99, 99, 99);
}

.product-filter > .product-filter-box {
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 2px black;
    width: 100%;
    left: 0; /* Initial height set to 0 */
    overflow: hidden; /* Hide content when height is 0 */
    /* Use the transition property to animate height changes */
    transition: 0.5s ease 3s;
    max-height: 0;
    z-index: 1;
}

.product-filter-box.show {
    max-height: 350px;
    transition: 0.5s ease;
    padding: 15px;
    overflow-y: scroll;
    /* Set the height when the element has the 'show' class */
}

/*end product nav section 

/*product pop category8*/
#product-pop-up-category {
    list-style-type: none;
}
#product-pop-up-category > li > input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    border: 2px solid brown !important; /* Adjust border properties */
    border-radius: 0 !important;
}

/*Degine products show section */
#product-show-section {
    z-index: -1;
}
#prosucts-show-section > #products-show-sidebar {
    border: 1px solid black;
}
.products-product-show-section-products-heart {
    display: none;
    cursor: pointer;
}

.products-product-show-section-products:hover
    .products-product-show-section-products-heart {
    background-color: blueviolet;
    display: flex;
}
/*end product show section*/
#products-show-sidebar-box {
    
}
#products-show-sidebar{
    position: sticky;
    top: 0;
}
.product-image-container{
    max-height: 263px;
    object-fit: cover;
    overflow: hidden;
}
#filter-pop-up-box{
    display: block !important;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    
}