#product-upload-area {
    width: 265px;
    height: calc(265px*(4/5));
   

    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    border: dashed rgb(158, 158, 158);
    position: relative;
}
#product-image-upload {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.product-gallery-image-container {
    overflow: hidden;
    border-radius: 3px;
}

.product-gallery-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#uploaded-product-image-container{
    position: sticky;
}

